*{
    margin:0;
    padding:0;
}

.navbar-container{
    width: 100vw;
    min-height: 6rem;
    height:100%;
    background-color: #1C355A;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-content{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
}

.meun-container{
    display: flex;
    align-items: center;
    gap:40px;
    color: #fff;
}


.meun-container a{
    text-decoration: none;
    color: #fff;
}